.spacingV>* {
  display: block;
}

.spacingVS>*:not(:last-child) {
  margin-bottom: .5em;
}

.spacingVM>*:not(:last-child) {
  margin-bottom: 1em;
}

.spacingVL>*:not(:last-child) {
  margin-bottom: 1.5em;
}

.spacingH>* {
  display: inline-block;
}

.spacingHS>*:not(:last-child) {
  margin-right: .5em;
}

.spacingHM>*:not(:last-child) {
  margin-right: 1em;
}

.spacingHL>*:not(:last-child) {
  margin-right: 1.5em;
}
